
#intro {
	background: #111 url(/imgs/bg.jpg) no-repeat center center;
	color:  @white;
	padding-top: 50px;
	padding-bottom: 50px;
}

#traffic {
	.map {
		background: url(/imgs/map_large.png) no-repeat center center;
		background-size: cover;
		margin: 20px 0px;
		width: 100%;
		height: 500px;
	}
}

#commodities {
	.items {
		list-style: none;
		li {
			padding-bottom: 50px;
		}
	}
}
