#commodities.section
    .text-center
        h2 各種好茶
    .container
        .row
            .span12
                ul.items.thumbnails
                    li.span4.thumnail
                        include lorem
                    li.span4
                        include lorem
                    li.span4
                        include lorem
                    li.span4
                        include lorem
                    li.span4
                        include lorem
                    li.span4
                        include lorem
                    li.span4
                        include lorem
                    li.span4
                        include lorem

