#commodities.section
    .text-center
        h2 各種好茶
    .container
        .row
            .span12
                ul.items.thumbnails
                    li.span4.thumnail
                        img.img-polaroid(src="/imgs/tea_01.jpg")
                        h3 雲南七子餅茶中茶牌
                        include lorem
                    li.span4
                        img.img-polaroid(src="/imgs/tea_02.jpg")
                        h3 寨子坡小餅
                        include lorem
                    li.span4
                        img.img-polaroid(src="/imgs/tea_03.jpg")
                        h3 雲南七子餅茶
                        include lorem
                    li.span4
                        img.img-polaroid(src="/imgs/tea_04.jpg")
                        h3 陳年老茶
                        include lorem
                    li.span4
                        img.img-polaroid(src="/imgs/tea_05.jpg")
                        h3 普洱茶
                        include lorem
                    li.span4
                        img.img-polaroid(src="/imgs/tea_06.jpg")
                        h3 梨山茶
                        include lorem
                    li.span4
                        img.img-polaroid(src="/imgs/tea_07.jpg")
                        h3 大禹嶺
                        include lorem
                    li.span4
                        img.img-polaroid(src="/imgs/tea_08.jpg")
                        h3 阿里山茶
                        include lorem
                    li.span4
                        img.img-polaroid(src="/imgs/tea_09.jpg")
                        h3 茗賞
                        include lorem

