.wrapper
  header#top.navbar-inverse.navbar(rols="banner")
    .navbar.navbar-inverse.navbar-fixed-top
        .navbar-inner
          .container
              button.btn.btn-navbar(type="button", data-toggle="collapse", data-target=".nav-collapse")
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.brand(href="/") 紅印茶莊
              .nav-collapse.collapse
                ul.nav
                  li
                    a(ng-href='/') 首頁
                  li
                    a(ng-href='/about') 關於
                ul.nav.navbar-nav.navbar-right
                  li
                    a(href="https://www.google.com.tw/maps/place/%E7%B4%85%E5%8D%B0%E8%8C%B6%E8%8E%8A/@24.9624785,121.2219863,18z/data=!4m2!3m1!1s0x0:0xdd96ce2ab3eb11a9", target="_blank") 地圖

