#traffic.section
    .text-center
        h2 交通資訊
    .container
        .row
            .span4.offset4
                ul
                    li 桃園縣中壢市元化路二段 24 號
                    li 中壢太平洋 SOGO 旁
    .map
    .container.text-center
        .row
            a.btn.btn-primary(href="https://www.google.com.tw/maps/place/%E7%B4%85%E5%8D%B0%E8%8C%B6%E8%8E%8A/@24.9624785,121.2219863,18z/data=!4m2!3m1!1s0x0:0xdd96ce2ab3eb11a9", target="_blank")
                | 用 Google Map 檢視
